@media screen and (min-width: 769px) {
    h2 {
        font-size: 1.5rem;
    }

    .hero-subtitle {
        font-size: 1.25rem;
    }

    .hero-title {
        font-size: 2.5rem;
    }

    .cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (min-width: 1025px) {
    .hero {
        display: flex;
        justify-content: space-evenly;
    }

    .hero-img {
        width: 400px;
        display: block;
    }

    .community {
        display: flex;
        justify-content: space-around;
        overflow: hidden;
    }

    .community-text, .community-title {
        text-align: left;
    }

    .community-title {
        font-size: 2rem;
    }

    .community-paragraph {
        font-size: 1.5rem;
    }

    .community-img {
        width: 300px;
        display: block;
    }

    .input-group input {
        width: 500px;
    }
}