@charset "UTF-8";

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}

html, body{
    background-color: #15161B;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

header span{
    color: #FFF;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

header span.blue{
    color: #1A7993;
}

main {
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

main .hero{
    color: #FFF;
    display: flex;
    justify-content: space-evenly;
}

.hero-text h3{
    color: #B7B7B7;
    font-weight: normal;
    margin-bottom: 0.5rem;
}

.hero-text h1{
    font-size: 2.5rem;
    text-transform: uppercase;
}

.hero-text a{
    background-color: #1A7993;
    color: #FFF;
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 2.5rem;
    padding: 1rem 5rem;
    transition: .2s;
}

.hero-text a:hover{
    background-color: #16677d;
}

.hero-image img{
    width: 400px;
}

/* SECTION CARDS */

.cards{
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.cards-title h2{
    text-transform: uppercase;
}

.cards-content{
    display: flex;
    gap: 2.5rem;
}

.cards-content .card a{
    width: 200px;
    height: 200px;
    background-color: #2C2F37;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    transition: .2s;
}

.cards-content .card a:hover{
    background-color: #1A7993;
}

.card a .fa-heart{
    font-size: 2.5rem;
}

/* SECTION DESCRIPTION */

.description{
    height: 45vh;
    background-color: #1A7993;
    color: #FFF;
    display: flex;
    justify-content: space-around;
}

.description-texts h2{
    text-transform: uppercase;
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.description-texts p{
    line-height: 1.5rem;
}

.description-texts a{
    background-color: #FFF;
    color: #000;
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 2rem;
    padding: 1.5rem 6rem;
    transition: .2s;
}

.description-texts a:hover{
    background-color: #CECECE;
}

.description-image img{
    width: 215px;
    height: 100%;
}

/* SECTION LOGIN */

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.login h2{
    color: #FFF;
    text-align: center;
    text-transform: uppercase;
}

form .input-group{
    margin-bottom: 1rem;
}

.input-group input{
    width: 500px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 0.5rem;
}

.input-group input::placeholder{
    color: #000;
    text-transform: uppercase;
}

.input-group input:focus{
    border: 2px solid #1A7993;
}

.input-group input[type="submit"]{
    background-color: #1A7993;
    color: #FFF;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: .2s;
}

.input-group input[type="submit"]:hover{
    background-color: #16677d;
}

/* FOOTER */

footer{
    text-align: center;
    padding: 4rem;
}

.footer-title h3{
    color: #FFF;
    font-weight: normal;
    text-transform: uppercase;
}

.social-media{
    display: flex;
    justify-content: center;
    gap: 2rem;
    list-style: none;
    margin-top: 2rem;
}

.social-media li a{
    color: #FFF;
    font-size: 2rem;
}

/* RESPONSIVIDADE */

@media screen and (max-width: 1024px) {
    .hero-image > img, .description-image > img {
        display: none;
    }

    .cards-content {
        display: grid;
        grid-template-columns: 2fr 2fr;
    }
}

@media screen and (max-width: 768px) {
    .hero-text > h1 {
        font-size: 2rem;
    }

    .cards-content {
        display: grid;
        grid-template-columns: 1fr;
    }

    .description-texts > h2 {
        font-size: 1.5rem;
    }

    .input-group input{
        width: 400px;
        height: 50px;
    }
}