@charset "UTF-8";

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}

html, body{
    background-color: #15161B;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

header span{
    color: #FFF;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

header span.blue{
    color: #1A7993;
}

main {
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

main .hero{
    color: #FFF;
    display: flex;
    justify-content: space-evenly;
}

.hero-text h3{
    color: #B7B7B7;
    font-weight: normal;
    margin-bottom: 0.5rem;
}

.hero-text h1{
    font-size: 2.5rem;
    text-transform: uppercase;
}

.hero-text a{
    background-color: #1A7993;
    color: #FFF;
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 2.5rem;
    padding: 1rem 5rem;
    transition: .2s;
}

.hero-text a:hover{
    background-color: #16677d;
}

.hero-image img{
    width: 400px;
    border-radius: 8px;
}

/* SECTION CARDS */

.cards{
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

h2{
    color: #FFF;
    text-transform: uppercase;
}

.cards-content{
    display: flex;
    gap: 2.5rem;
}

.cards-content .card a{
    width: 200px;
    height: 200px;
    background-color: #2C2F37;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    transition: .2s;
}

.cards-content .card a:hover{
    background-color: #1A7993;
}

.card a .fa-heart{
    font-size: 2.5rem;
}

/* SECTION DESCRIPTION */

.description {
    background-color: #1A7993;
    color: #FFF;
    display: flex;
    justify-content: space-around;
}

.description-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1.5rem;
}

.description-text > h2 {
    font-size: 2rem;
}

.description-text > p {
    font-size: 1.8rem;
}

.description-text > a {
    background-color: #FFF;
    color: #383838;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    padding: 1rem;
    transition: background .2s;
}

.description-text a:hover{
    background-color: #D5D5D5;
}

.description-image img{
    width: 250px;
    height: 100%;
}

/* SECTION LOGIN */

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.login h2{
    text-align: center;
    text-transform: uppercase;
}

.login-form > form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.input-group input{
    width: 40vw;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 0.5rem;
}

.input-group input::placeholder{
    color: #000;
    text-transform: uppercase;
}

.input-group input:focus{
    border: 2px solid #1A7993;
}

.input-group input[type="submit"]{
    background-color: #1A7993;
    color: #FFF;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: .2s;
}

.input-group input[type="submit"]:hover{
    background-color: #16677d;
}

/* FOOTER */

footer{
    text-align: center;
    padding: 4rem;
}

.footer-title h3{
    color: #FFF;
    font-weight: normal;
    text-transform: uppercase;
}

.social-media{
    display: flex;
    justify-content: center;
    gap: 2rem;
    list-style: none;
    margin-top: 2rem;
}

.social-media li a{
    color: #FFF;
    font-size: 2rem;
}

/* RESPONSIVIDADE */

@media screen and (max-width: 1024px) {
    img {
        display: none;
    }

    .cards-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .description {
        padding: 2rem 0;
    }

    .input-group > input {
        width: 50vw;
    }
}

@media screen and (max-width: 768px) {
    .hero-text {
        text-align: center;
    }

    .hero-text > h1 {
        font-size: 1.5rem;
    }

    .cards-title > h2,
    .description-text > h2,
    .description-text > p,
    .login-title > h2{
        font-size: 1rem;
        text-align: center;
    }

    .cards-content {
        grid-template-columns: 1fr;
    }

    .input-group > input {
        width: 70vw;
    }
}